body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: sans-serif;
}

#app-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

/* 메뉴바 스타일 */
#sidebar {
  width: 350px; /* 고정 너비 */
  background-color: #000000;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

/* 3D 캔버스 영역 */
#canvas-container {
  flex: 1; /* 남은 공간 모두 차지 */
}

/* Canvas가 부모 크기에 맞도록 */
canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
}
